@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
    margin: 20px auto;
    padding: 20px;
    min-width: 320px;
    max-width: 80%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size:calc(6px + 0.8vw);
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}


h6{
    font-size: 6px;
    color: gray;
    margin-bottom: 5px;
    text-align: right;
    font-style: italic;
}


li{
    list-style-type: none;
}


/*#####################################################################################*/
/* LINKS */

a {
    outline: none;
    text-decoration: none;
    padding: 0 10px;
}


a:link {
    color:gray;
}

a:visited {
    color: gray;
}

a:focus {
    border-bottom: 1px solid;
    background: black;
}

a:hover {
    color:white;
    background: gray;
    border-radius: 10px 30px;
}

a:active {
    background: black;
    color: gray;
}


/*#####################################################################################*/
/* HEADER */

header{
    margin-top: 10px;
}


h1{
    text-align: center;
    font-size: calc(6px + 2.3vw);
    margin: 0;
    padding: 5px;
}


h2{
    color:white;
    font-weight: bolder;
    font-size:calc(6px + 1.4vw);
    text-align: right;
    padding: 0 20px;
    background-color: gray;
    text-shadow: black 3px 3px 2px;    
	border-radius: 10px 40px;
}

#contacts {
    display: flex;
    font-size: 12px;
    margin: 0 0 0 210px;
    padding: 0;    
    border-top: 1px solid gray;
}

.block-right{
    margin-left: auto;
    margin-right: 0;
}


#my_photo {
    width: 165px;
    height: auto;
    float: left;
    transition: 1s;         /* Время эффекта */
    border-radius: 60px 20px;
    box-shadow: 0px 0px 1px 5px white, 0px 0px 5px 5px gray;
}

#my_photo:hover{
    transform: scale(1.2);  /* Увеличиваем масштаб */
}





/*#####################################################################################*/
/* MAIN */

main{
    display: grid;
    grid-template-columns: calc(120px + 11vw) 2fr;
    overflow-y: hidden;
    height: calc(450px - 9vw + 15vh); 
    margin-bottom: 10px;
}

#div-right {
    width: auto;
    max-height: 100vh;
    overflow-y: scroll;
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
    padding: 0 10px;
}



/*#####################################################################################*/
/* ASIDE */

aside {
    background: #f0f0f0;
    width: calc(110px + 10vw);
    float: left;
    border-radius: 10px 70px;
}

nav{
    font-size:calc(6px + 1vw);
    font-weight: bold;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
}

.menu {
    margin-left: -35px;
}




/*#####################################################################################*/
/* SECTIONS */

section {
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
	border-radius: 15px 40px;
    padding: 0 8px;
}



h3{
    font-size:calc(6px + 1vw);
    color:white;
    text-shadow: gray 2px 2px 0px;
    margin-top: 5px;
    background:rgb(184, 184, 184);
    opacity: 0.5;
    border-radius: 10px 70px;
    padding: 0 30px;
    
}

img {
    vertical-align: middle;
}

pre{
    margin: 0;
    overflow: auto;
	overflow-y: hidden;
}

code {
    font-size: 12px;
    font-weight: bold;
    color: gray;
    line-height: 0.9em;
}


.param {
    font-weight: bold;
    font-style: italic;
}

.div-param{
    margin: 0;
    margin-left: 40px;
    padding: 0;
}


.li-param {
    margin-top: 5px;
}


.text-param {
    margin: 0;
    font-size: calc(6px + 0.9vw);
    text-indent:30px;
    text-align:justify;
    line-height: 1.2em;
}

.text-bold {
    font-weight: bold;
}


.text {
    font-size: calc(6px + 0.8vw);
    text-indent:30px;
    text-align:justify;
    line-height: 1.2em;
    padding: 0 5px 10px 30px;

}


/*#####################################################################################*/
/* FOOTER */

footer{
    position: fixed; 
    width: 100%; 
    height: 30px;  
    left: 0; 
    bottom: 0;             
    background: #303230; 
    color: #fff;        
}

footer ul {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    margin: 0;
    padding: 5px;
}

.footer-item {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: white;
}

#RSSchoolIcon{
    width: auto;
    height: 18px;
}


