
/*#################################################################*/
/*#region FONTS*/

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*#endregion FONTS*/

/* #################################################################*/
/*#region BASIC STYLE*/

html {
    box-sizing: border-box;	
    scroll-behavior: smooth;
}

*, 
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font: var(--font-body-medium);
    color: var(--text-color-dark);
    min-height: 100vh;
    background: var(--background-color-body);
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
    padding-left: 0;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.wrapper {
    max-width: 1440px;  
    margin: 0 auto;
    padding: 0 40px;
}

.wrapper__section {
    margin-bottom: 100px;
}

.link {
    font: var(--font-link);
    color: var(--color-link-dark);
    text-decoration: none;
}

.interactive__link {
    position: relative;
    transition: .2s;
}

.interactive__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scale(0, 1);
    transition: transform 0.4s;
    background: var(--text-color-dark);
    transform-origin: right top;
    transition-delay: .25s;
}

.interactive__link:hover::after,
.interactive__link:focus::after,
.interactive__link:active::after {
    transform: scale(1, 1);
    transform-origin: left top;
}

:focus {
    outline: none;
}

.transition {
    transition: 2s;
}
/*#endregion BASIC STYLE*/


/*#################################################################*/
/*#region FONTS*/

h1 span {
    font: var(--font-heading-1);
}

h2 {
    margin-bottom: 40px;
    text-align: left;
}

h2 span {
    font: var(--font-heading-2);
}

h3 {
    font: var(--font-heading-3);
    margin: 0;
}

.light {
    color: var(--text-color-light);
}

.dark {
    color: var(--text-color-dark);
}

.accent {
    font-style: italic;
    color: var(--text-color-accent);
}

.caption {
    font: var(--font-body-caption);
    margin: 0;
}

.no-margin {
    margin: 0;
}

.center {
    text-align: center;
}

.hidden {
    position: absolute;
    top: 160px;
    left: 35%;
    text-align: center;
    color: var(--text-color-light);
    z-index: 0;
}
/*#endregion FONTS*/


/*#################################################################*/
/*#region ELEMENTS*/

.btn {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    padding: 20px 0;
}

.btn__round {
    width: 60px;
    height: 60px;
}

.btn__oval {
    width: 200px;
    height: 64px;
}

.twitter,
.twitter:not(:hover) {    
    background: url(../img/icons/twitter.svg) no-repeat center center;
}

.twitter:hover {    
    background: url(../img/icons/twitter-dark.svg) no-repeat center center;
    background-color: var(--background-color-body);
}

.instagramm,
.instagramm:not(:hover) {
    background: url(../img/icons/instagram.svg) no-repeat center center;
}

.instagramm:hover {
    background: url(../img/icons/instagram-dark.svg) no-repeat center center;
    background-color: var(--background-color-body);
}

.facebook,
.facebook:not(:hover) {
    background: url(../img/icons/facebook.svg) no-repeat center center;
}

.facebook:hover {
    background: url(../img/icons/facebook-dark.svg) no-repeat center center;
    background-color: var(--background-color-body);
}

.appstore,
.appstore:not(:hover) {
    background: url(../img/icons/appstore-icon.svg) no-repeat 20px center;
}

.appstore:hover {
    background: url(../img/icons/appstore-light-icon.svg) no-repeat 20px center;
    background-color: var(--background-color-container);    
    color: var(--text-color-light);       
}

.googleplay,
.googleplay:not(:hover) {
    background: url(../img/icons/googleplay-icon.svg) no-repeat 20px center;
}

.googleplay:hover {
    background: url(../img/icons/googleplay-icon-light.svg) no-repeat 20px center;
    background-color: var(--background-color-container); 
    color: var(--text-color-light);       
}

/*#endregion ELEMENTS*/


/*#################################################################*/
/*#################################################################*/
/*#################################################################*/
/*#region INDEX PAGE*/

/*#################################################################*/
/*#region HEADER*/

.header__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0; 
    margin-bottom: -5px;   
}

.header__logo {
    margin-top: 10px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 40px;
}

.header__burger-link {
    display: inline-block;
    padding-right: 28px;
    background: url(../img/icons/coffee-cup.svg) no-repeat right top;
}

/*#endregion HEADER*/


/*#################################################################*/
/*#region MAIN*/

/*--------------------------------------------------------*/
/*#region Hero*/

.wrapper__hero {
    height: 644px;
    padding: 79px 100px;
    border-radius: 40px;
    /* background: url(../img/main_page/img-hero.jpg), lightgray 50% / cover no-repeat;   */
    background: url(../img/main_page/img-hero.jpg) no-repeat left -28px;

    background-size: cover;
}

.hero__content {
    max-width: 530px;
    color: var(--text-color-light);
}

.hero__title {
    margin-bottom: 40px;
}

.hero__lead {
    font: var(--font-body-medium);
    margin-bottom: 40px;
}

.hero__btn-menu {
    background-color: var(--background-color-body);     
    transition-property: padding-right;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hero__btn-menu:hover {
    background: url(../img/icons/coffee-cup.svg) no-repeat 120px 20px;
    background-color: var(--background-color-body);
    padding-right: 20px;    
    transition-property: background, padding-right;
    transition-duration: 1s;
    transition-timing-function: ease;
}

/*#endregion Hero*/


/*--------------------------------------------------------*/
/*#region Favorite Card*/

.favorite {
    margin-bottom: 140px;
}

.favorite__title {
    text-align: center;
}

.btn__prev,
.btn__prev:not(:hover) {
    border: 1px solid var(--border-color-dark, #665F55);
    background: url(../img/icons/arrow-left.svg) no-repeat center center;
    margin: 0 0 0 4px;
}

.btn__next,
.btn__next:not(:hover) {
    border: 1px solid var(--border-color-dark, #665F55);
    background: url(../img/icons/arrow-right.svg) no-repeat center center;
    margin: 0 4px 0 0;
}

.btn__next:hover {
    background: url(../img/icons/arrow-right-light.svg) no-repeat center center;
    background-color: var(--background-color-container);
    transition: 2s;
}

.btn__prev:hover
{
    background: url(../img/icons/arrow-left-light.svg) no-repeat center center;
    background-color: var(--background-color-container);
}

.wrapper__favorite-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.favorite__card {
    max-width: 480px;
    display: flex;
    flex-direction: column;
}

.favorite__card-imgbox {
    margin-bottom: 15px;
}

.favorite__card-content {
    text-align: center;
}

.favorite__card-title {
    margin: 0;
    margin-bottom: 16px;
}

.favorite__card-description {
    margin: 0;
    margin-bottom: 16px; 
}

.slider__navigation-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slider__navigation-control {
    width: 40px;
    height: 6px;
    cursor: pointer;
    background-color: #000;
    opacity: .5;
    border-radius: 10px;
    transition: all 0.4s ease;
    margin: 6px;
    margin-top: 36px;
}

.slider__navigation-control:hover {
    opacity: 1;
    transform:scale(1.1);
}

input[name="slider"] {
    position: absolute;
    visibility: hidden;
 }

/*#endregion Favorite Card*/


/*--------------------------------------------------------*/
/*#region About*/

.about {
    margin-bottom: 38px;
}

.wrapper__about {
    text-align: center;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.about__card-container {
    margin: 0;
    margin-bottom: 40px;
}

.about__card-pic{
    width: 726px;
    border-radius: 20px;
    object-fit: cover;
}

.about__card-pic-h {
    height: 590px;
}

.about__card-pic-s {
    height: 430px;
}


/*#endregion About*/


/*--------------------------------------------------------*/
/*#region Download*/

.download {
    margin-bottom: 105px;
}

.download__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.download__content-right {
    text-align: right;
}

.download__title{
    max-width: 630px;    
} 

.download__lead {
    max-width: 630px;    
    font: var(--font-body-medium);
    margin-bottom: 40px;
}

.download__btn {
    border: solid 1px var(--border-color-dark); 
    text-align: left;
    padding-left: 64px;
    margin-right: 20px;
}

.download__btn-text {
    margin-top: -5px;
}

/*#endregion Download*/

/*#endregion MAIN*/



/*#################################################################*/
/*#region FOOTER*/

.footer__content {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    padding: 80px 100px;
    border-radius: 40px;
    background-color: var(--background-color-container);
    margin-bottom: 40px;    
}

.footer__content-left {
    max-width: 530px;
    margin-right: 100px;
}

.footer__title {
    margin-bottom: 40px;
}

.footer__link {
    display: block;
    font: var(--font-link);
    text-decoration: none;
    padding-left: 28px;
    margin-bottom: 16px;
}

.footer__social-btn {
    border: 1px solid var(--border-color-light, #C1B6AD);
    margin-right: 7px;
}

.footer__contact-title {
    margin: 54px 0 38px 0;
}

.footer__contact-adress {
    background: url(../img/icons/pin-alt.svg) no-repeat left center;
    margin-bottom: 20px;
}

.footer__contact-phone {
    background: url(../img/icons/phone.svg) no-repeat left center;
    margin-bottom: 20px;
}

.footer__contact-clock {
    background: url(../img/icons/clock.svg) no-repeat left center;
}

/*#endregion FOOTER*/

/*#endregion INDEX PAGE*/



/*#################################################################*/
/*#################################################################*/
/*#################################################################*/
/*#region MENU PAGE*/

.menu__disabled {
    margin-top: 8px;
}

/*#################################################################*/
/*#region Title*/

.offer {
    margin-top: -25px;
}

.offer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer__title-2 {
    max-width: 800px;
    text-align: center;
    z-index: 1;
}

.offer__slider {
    overflow: hidden;
}

.offer__buttons {
    display: flex;
}
/*#endregion Title*/

/*#################################################################*/
/*#region Cards*/

.wrapper__offer-cards {
    transition: all 0.6s ease;
}

.offer__cards {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    gap: 40px;
}

.offer__card {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    border: solid 1px var(--border-color-light, #C1B6AD); 
    border-radius: 40px;
    transition: 2s;
}

.offer__card:hover {
    transform: scale(1.05);
    border-width: 3px; 
}

.offer__card-imgbox {
    max-height: 310px;
    overflow: hidden;
    border-radius: 40px;
}

.offer__card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.offer__card-title {
    margin: 0;
    margin-bottom: 12px;
}

.offer__card-description {
    flex-grow: 1;
    margin: 0;
    margin-bottom: 12px;
}

.offer__card-price {   
    margin: 0;
}

/*#endregion Cards*/

/*#################################################################*/
/*#region Navigation*/

input[name="radio"] {
    position: absolute;
    visibility: hidden;
 }

.offer__slider-navigation {
    display: flex;
    transform: translateX(-50%);
}

 .offer__navigation {
    margin-right: -18px;
    margin-bottom: 40px;
 }

 .btn__offer-switch {
    display: inline-block;
 }

.btn-offer {
    height: 46px;
    width: auto;
    border: 1px solid var(--border-color-dark);
    text-align: right;
    padding: 0;
    padding-right: 16px;
    margin-right: 16px;
    transition: all 0.4s ease;
}

.btn__offer-switch:hover,
.btn__offer-switch:active,
.btn__offer-switch:focus {
    background: var(--background-color-container);
    color: var(--text-color-light);
    cursor: pointer;

    .circle__image {
        background: var(--text-color-light);
    }
    transition: 1s;
}

.btn__oval-circle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.circle__image {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background: var(--border-color-light);
    text-align: center;
    margin: 8px;
}

.circle__image-pic{
    position: relative;
    top: 25%;
    width:55%;
    height:55%;
    object-fit: cover;
  }

#radio1:checked ~ .s1 {
    margin-left: 0;
 }
 
 #radio2:checked ~ .s1 {
    margin-left: -33.3%;
 }
 
 #radio3:checked ~ .s1 {
    margin-left: -66.6%;
 }

/*#endregion Navigation*/

/*#endregion MENU PAGE*/