
/*#################################################################*/
/*#region FONTS*/

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*#endregion FONTS*/


/* #################################################################*/
/*#region BASIC STYLE*/

html {
    box-sizing: border-box;	
}

*, 
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font: var(--font-body-medium);
    color: var(--text-color-dark);
    min-height: 100vh;
    background: var(--background-color-body);
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
    padding-left: 0;
}

.wrapper {
    max-width: 1440px;  
    margin: 0 auto;
    padding: 0 40px;
}

.link {
    font: var(--font-link);
    color: var(--color-link-dark);
    text-decoration: none;
}

:focus {
    outline: none;
}
/*#endregion BASIC STYLE*/


/*#################################################################*/
/*#region FONTS*/

h1 span {
    font: var(--font-heading-1);
}

h2 {
    margin-bottom: 40px;
}

h2 span {
    font: var(--font-heading-2);
}

.accent {
    font-style: italic;
    color: var(--text-color-accent);
}

/*#endregion FONTS*/


/*#################################################################*/
/*#region ELEMENTS*/

.btn {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    padding: 20px 0;
}

.btn__round {
    width: 60px;
    height: 60px;
}

.btn__oval {
    width: 200px;
    height: 64px;
}

/*#endregion ELEMENTS*/



/*#################################################################*/
/*#region HEADER*/

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;    
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 40px;
}

/* .header__item:last-child {
    margin-right: 0;
} */

.header__link {
    position: relative;
    transition: .2s;
}

.header__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scale(0, 1);
    transition: transform 0.4s;
    background: var(--text-color-dark);
    transform-origin: right top;
    transition-delay: .25s;
}

.header__link:hover::after,
.header__link:focus::after,
.header__link:active::after {
    transform: scale(1, 1);
    transform-origin: left top;
}

.header__burger-link {
    display: inline-block;
    padding-right: 28px;
    background: url(../img/icons/coffee-cup.svg) no-repeat right top;
}

/*#endregion HEADER*/


/*#################################################################*/
/*#region MAIN*/

/*--------------------------------------------------------*/
/*#region Hero*/

.hero {
    margin-bottom: 100px;
}

.wrapper__hero {
    padding: 100px;
    border-radius: 40px;
    background: url(../img/main_page/img-hero.jpg), lightgray 50% / cover no-repeat;    
    background-size: cover;
}

.hero__content {
    max-width: 530px;
    color: var(--text-color-light);
}

.hero__title {
    margin-bottom: 40px;
}

.hero__lead {
    font: var(--font-body-medium);
    margin-bottom: 40px;
}

.hero__btn-menu {
    background-color: var(--background-color-body);     
    transition-property: padding-right;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hero__btn-menu:hover {
    background: url(../img/icons/coffee-cup.svg) no-repeat 120px 20px;
    background-color: var(--background-color-body);
    padding-right: 20px;    
    transition-property: background, padding-right;
    transition-duration: 1s;
    transition-timing-function: ease;
}

/*#endregion Hero*/


/*--------------------------------------------------------*/
/*#region Favorite*/

.wrapper__favorite{
    margin-bottom: 100px;
}

.favorite__title {
    text-align: center;
}

/*#endregion Favorite*/


/*--------------------------------------------------------*/
/*#region About*/

.wrapper__about {
    margin-bottom: 100px;
}

/*#endregion About*/


/*--------------------------------------------------------*/
/*#region Download*/

.wrapper__download {
    margin-bottom: 100px;
}

/*#endregion Download*/

/*#endregion MAIN*/


/*#################################################################*/
/*#region FOOTER*/

.footer__wrapper {
    padding: 100px;
    border-radius: 40px;
    background-color: var(--background-color-container);    
}

/*#endregion FOOTER*/